#header
{
	color			: #6785A6;
	border-bottom	: solid 1px #AEAEAE;
	padding			: 5px 0px 5px 10%;
	position		: relative;
}


#header_register
{
	position		: absolute;
	margin-left		: 800px;
	top				: 5px;
	
}


a
{
	color	: #6785A6;	
}

img
{
	vertical-align : middle;
	border			: 0px;
}

